.Home {
  width: 100%;
  min-height: calc(100vh - 60px);
  background:  white;
  background-repeat: repeat;

  color: #242121;

  display: flex;
  align-items: center;
}

.Home__col {

  width: '50%';
  margin: auto !important;
}
.Home__col_2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: '70%';
  background-color: green;
}

.Home_row_uno{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.Home_row_dos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.HOME__ListCardItem{
  margin: 20px !important;
  border: solid 1px gray;
}

.HOME__ListCardAnnou{
  display: flex;
  justify-content: space-between;
  height: 280px;
}

.HOME__ListCardItem_Image{
  object-fit: cover;
  object-position: center center;
  max-height: 140px;
  width: 100%;
}

.Home__Landing{
   width: 50% !important;
   margin: 10px !important 
}
.Home__Landing_Container_Image{
  width: 100%;
  height: 280px 
}
.Home__Landing_Image{
  width: 100%;
  display: block;
  margin: auto;
  height: 280px;
  max-height: 280px;
}
.Home__Cart_Selection{
  width: 50% !important;
    margin: 10px !important;
    max-height: 270px; 
}

.Home__Clientes{
  width: 75% !important;
  margin: 10px !important;
  padding: 10px !important;
}
.Home__Clientes_Container{
   width: 100%;
   height: 280px
}
.Home__Clientes_Container_Image{
  display: block;
  margin: auto;
  height: 280px;
  max-height: 280px;
}
.Home__Lista{
  width: 25% !important;
  margin: 10px !important;
  padding: 10px !important;
}
.Home__Lista_Container{
   width: 100%;
   height: 280px
}
.Home__Lista_Container_Image{
  display: block;
  margin: auto;
  height: 280px;
  width: 100%;
}
.HOME__Tareas_ListCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 280px;
}
/* .HOME__Tareas_ListCard , h4{
  font-family: "Baloo Paaji 2 script=latin rev=2";
  font-weight: 700;
  font-style: normal;
} */
.HOME__Tareas_ListCardItem{
  padding: 20px !important;
  border: solid 1px gray;
  display: flex !important;
  align-items: center !important;
  width: 100% !important;
  color: aliceblue !important;

}


@media screen and (max-width: 768px) {
  .Home_row_uno{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .Home_row_dos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .Home__Landing{
    width: 100% !important;
    margin: 10px !important 
 }
 .Home__Cart_Selection{
   width: 100% !important;
    margin: 10px !important;
    max-height: 270px; 
}
.Home__Clientes{
  width: 100% !important;
  margin: 10px !important;
  padding: 10px !important;
}
.Home__Lista{
  width: 100% !important;
  margin: 10px !important;
  padding: 10px !important;
}


}